<script setup>
import { ref } from "vue";
import AppCountInput from "./AppCountInput.vue";

const props = defineProps({
  product: Object,
});

defineEmits(["add-to-cart"]);

const count = ref(0);
</script>

<template>
  <li class="card">
    <img :src="`/images/${product.image}`" class="mb-3" width="300" />

    <div>
      {{ product.name }} -

      <span class="text-green-500">${{ product.price }}</span>

      <div class="text-center m-4">
        <AppCountInput v-model="count" />
      </div>

      <AppButton
        class="primary"
        @click="$emit('add-to-cart', count), (count = 0)"
      >
        Add to Cart
      </AppButton>
    </div>
  </li>
</template>
