<script setup>
// import { storeToRefs } from "pinia";

import { useProductStore, useCartStore } from "@/store";

import TheHeader from "@/components/TheHeader.vue";
import ProductCard from "@/components/ProductCard.vue";

const productStore = useProductStore();
const cartStore = useCartStore();

productStore.loadStandProducts();

// const addToCart = (count, product) => {
//   count = parseInt(count);

//   // Group one action to a state
//   cartStore.$patch((state) => {
//     for (let index = 0; index < count; index++) {
//       state.items.push(product);
//     }
//   });
// };
</script>

<template>
  <div class="container">
    <TheHeader />
    <ul class="sm:flex flex-wrap lg:flex-nowrap gap-5">
      <ProductCard
        v-for="product in productStore.products"
        :key="product.name"
        :product="product"
        @add-to-cart="cartStore.addItems($event, product)"
      />
    </ul>
  </div>
</template>
